@{
    ViewBag.Title = "About Me";
}

<section class="about-me" id="about">
    <div class="container">
        <h1>About Me</h1>
        <img src="https://i.pinimg.com/736x/8d/63/9c/8d639cfb534c0cdbe2ef2d5e72f5ff4f.jpg" alt="image" />
        <p>
            I am 23 years old, I have completed my Btech at WISTM College in the stream of ECE.
            I really enjoy solving problems as well as making things pretty and easy to use.
        </p>
    </div>
</section>
