@{
    ViewBag.Title = "Contact Me";
}

<div class="contact" id="contact-me">
    <div class="container">
        <h2>Contact Me</h2>
        <p class="mail">Email: <a href="mailto:pudi.venkatesh1222@gmail.com">pudi.venkatesh1222@gmail.com</a></p>
        <p>Find me on:</p>
        <a href="https://www.linkedin.com/in/pudi-venkatesh-23b3591a7" target="_blank">LinkedIn</a>
        <a href="https://github.com/venkupudi" target="_blank">GitHub</a>
        <a href="https://www.instagram.com/venku_pudi__/" target="_blank">Instagram</a>
    </div>
</div>
