@{
    ViewBag.Title = "Portfolio";
}

<section id="my-works">
    <div class="portfolio">
        <h1>Portfolio</h1>
        <div class="portfolio-content container">
            <div class="proj-1">
                <img src="~/Screenshots/Dog Website Screenshot.png" alt="Project 1" />
                <div>
                    <h2>Restaurant Website UI</h2>
                    <p>Built Using HTML, CSS, JS</p>
                    <button><a href="https://github.com/venkupudi/Dogs-Website.git" target="_blank">View source</a></button>
                    <button><a href="https://venkupudi.github.io/Dogs-Website/" target="_blank">Try it Live</a></button>
                </div>
            </div>
        </div>
    </div>
</section>
